#grid_hz{
  display: grid;
  grid-template-columns: 6fr 1fr;
}

.side {
  background-image: url("C:\Users\김소혜\Documents\SPARTA Cording Club\frontend_React\Assignmnt_Psn\todolist\illust.png");
  background-position: center;
  width: 240px;
  height: 500px;
  margin-top: 30%;
}

.cards {
  margin-bottom: 7vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cards > div {
  margin-bottom: 7vh;
  margin-left: 10px;
}

.title {
  display: inline;
  margin-bottom: 5px;
}

Form > Button {
  display: inline;
  float: right;
  margin-bottom: 5px;
}

.addToDo > Form {
  margin-left: 10px;
}